export TF_VAR_PM_API_URL="https://192.168.68.222:8006/api2/json/"
export TF_VAR_PM_API_TOKEN_ID='terraform-prov@pve!terraform-token'
export TF_VAR_PM_API_TOKEN_SECRET=$(security find-generic-password -a "$USER" -s "TF_VAR_PM_API_TOKEN_SECRET" -w)
export TF_VAR_PM_TLS_INSECURE=true
